<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Personal Blog</h1>
  <ul>
    <li>
      <div>My first article</div>
      <div>August 7, 2024</div>
    </li>
  </ul>
</body>
</html>