<!DOCTYPE html>
<html lang="en">
<head>
  <%-  include('../partials/head') %>
  <title>Personal Blog Admin</title>
</head>
<body>
  <div class="blog-wrapper">
    <div class="blog-left">
      <header class="blog-header">
        <h1 class="blog-title">Personal Blog</h1>
      </header>
      <main class="blog-main blog-admin">
        <a class="blog-link blog-admin__link" href="/new">+ Add</a>
        <ul class="blog-admin__articles-list">
          <% articles.forEach(({ title, id }) => { %>
          <li class="blog-admin__article">
            <div class="blog-admin__links">
              <a class="blog-link" href="/edit/<%= id %>">Edit</a>
              <a class="blog-link" href="/delete/<%= id %>">Delete</a>
            </div>
            <h3  class="admin__article-title"><%= title %></h3>
          </li>
          <% })%>
        </ul>
      </main>  
    </div>
    <nav class="blog-right"></nav>
      <a class="blog-link" href="/">Home</a>
    </nav>
  </div>
</body>
</html>