<!DOCTYPE html>
<html lang="en">
<head>
  <%-  include('../partials/head') %>
  <title>Document</title>
</head>
<body>
  <h2>Something went wrong</h2>
  <p><%= message %></p>
  <a href="<%- from %>">Try again</a>
</body>
</html>