<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Personal Blog</h1>
  <ul>
    <% articles.forEach(({ title, publishDate, id }) => { %>
    <li>
      <div><a href="/article/<%= id %>"><%= title %></a></div>
      <div><%= publishDate %></div>
    </li>
    <% }) %>
  </ul>
</body>
</html>