<!DOCTYPE html>
<html lang="en">
<head>
  <%-  include('../partials/head') %>
  <title>Document</title>
</head>
<body>
  <h2><%= formTitle %></h2>
  <form action="<%= handler %>" method="<%= method %>">
    <div>
      <label for="">User name</label>
      <input type="text" name="userName">
    </div>
    <div>
      <label for="">Password</label>
      <input type="password" name="userPassword">
    </div>
    <input type="submit" value="Login">
  </form>
</body>
</html>